<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <name>guest</name>
   <description>留言插件</description>
   <version>0.1.180523</version>
   <appkey>B8779952-8EFF-00A8-553B-FE2DE7DD137C</appkey>
   <dbscript>
      <install>DROP TABLE IF EXISTS `yc_guest`;&#13;
CREATE TABLE `yc_guest` (&#13;
  `id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id',&#13;
  `name` varchar(50) DEFAULT NULL COMMENT '用户名',&#13;
  `email` varchar(50) DEFAULT NULL COMMENT '邮件',&#13;
  `title` varchar(100) DEFAULT NULL COMMENT '标题',&#13;
  `content` text COMMENT '内容',&#13;
  `create_time` int(11) NOT NULL COMMENT '创建时间',&#13;
  `update_time` int(11) NOT NULL COMMENT '更新时间',&#13;
  PRIMARY KEY (`id`)&#13;
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COMMENT='留言表';&#13;
INSERT INTO `yc_auth_rule` (`icon`, `title`, `href`, `type`, `status`, `condition`, `pid`, `sort`, `create_time`, `update_time`) VALUES('',	'留言列表',	'guest/guest/guestlist',	1,	1,	NULL,	0,	0,	NULL,	NULL);&#13;
SET SQL_SAFE_UPDATES =0;&#13;
update yc_auth_rule set pid =(select id from (select id from yc_auth_rule WHERE href = 'admin')as t) WHERE href like 'guest/%';&#13;
SET SQL_SAFE_UPDATES =1;</install>
      <update></update>
      <uninstall>DROP TABLE IF EXISTS `yc_guest`;DELETE FROM `yc_auth_rule` WHERE href like 'guest%';</uninstall>
   </dbscript>
</plugin>
