{extend name="../../common/view/public/base" /}
{block name="body"}
<div id="page-wrapper">
  <div class="header">
                    <h1 class="page-header">
                        后台首页
                    </h1>
        <ol class="breadcrumb">
        <li><a href="{:url('index/index')}">Home</a></li>
        <li class="active">后台首页</li>
      </ol>

</div>
<div id="page-inner" class="top">

    <div class="panel panel-default">
        <div class="panel-heading">
            Sample Text
        </div>
        <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et doloreullamco laboris nisi ut aliquip ex ea commodo

        </div>
    </div>

{/block}
