{extend name="../../common/view/public/base" /}
{block name="body"}
<div id="page-wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="header">
                    <h1 class="page-header">
                        后台首页
                    </h1>
        <ol class="breadcrumb">
        <li><a href="{:url('index/index')}">Home</a></li>
        <li class="active">后台首页</li>
      </ol>

</div>
<div id="page-inner" class="top">

    <blockquote class="red">
        更新提示
    </blockquote>

    <div class="panel panel-default">
        <div class="panel-heading">
            2018.7.2 ADF_v0.2.180702
        </div>
        <br class="panel-body">
        1.【功能】增加登录市场功能；</br>
        </br>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            2018.6.27 ADF_v0.2.180627
        </div>
        <br class="panel-body">
        1.【功能】增加插件市场微信支付功能；</br>
        2.【优化】插件包CMS-v0.1.20180627</br></br>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            2018.5.19 ADF_v0.1.180519
        </div>
        <br class="panel-body">
        1.【功能】增加后台登录验证码;</br>
        2.【功能】升级后台用户管理为权限管理;</br>
        3.【功能】增加插件管理(本地远程已完成);</br>
        4.【功能】增加插件发布功能;</br>
        5.【优化】在添加权限菜单时导致菜单混乱的情况;</br>
        6.【优化】在公共目录common里增加模板继承调用;</br>
        7.【功能】增加 CMS-v0.1.20180520 插件包</br></br>

    </div>



{/block}
