<!--/. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            {volist name="$pBarInfo" id="vo" mod="5"}
            <li {eq name="$vo.title" value="系统设置"}class="active"{/eq}>
            <a class="active-menu" href="#"><i class="{$vo.icon}"></i> {$vo.title}<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                {volist name="$aBarInfo" id="vos"}
                {eq name="$vos.pid" value="$vo.id"}
                <li>
                    <a href="{:url($vos.href)}">{$vos.title}</a>
                </li>
                {/eq}
                {/volist}
            </ul>
            </li>
            {/volist}
        </ul>

    </div>
    <div class="button">
        <footer><p>Copyright &copy; 2016.Company name All rights reserved.</p></footer>
    </div>
</nav>
<!-- /. NAV SIDE  -->
