 <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="{$description|default="网站描述"}" content="Flatfy Free Flat and Responsive HTML5 Template ">
    <meta name="{$keywords|default="网站描述"}" content="">
	<meta http-equiv="Cache-Control" content="max-age=7200" />
	<meta http-equiv="Expires" content="Sun Oct 15 2017 20:39:53 GMT+0800 (CST)" />

    <title>{$siteName|default="网站标题"}</title>

    <!-- Bootstrap core CSS -->
    <link href="http://static.yc78.com/css/bootstrap.min.css" rel="stylesheet">
 
    <!-- Custom Google Web Font -->
    <!--<link href="http://static.yc78.com/font-awesome/css/font-awesome.min.css" rel="stylesheet">-->

    <!-- Custom CSS-->
    <link href="http://static.yc78.com/css/general.css" rel="stylesheet">
	
	 <!-- Owl-Carousel -->
    <link href="http://static.yc78.com/css/custom.css" rel="stylesheet">
	<link href="http://static.yc78.com/css/owl.carousel.css" rel="stylesheet">
    <link href="http://static.yc78.com/css/owl.theme.css" rel="stylesheet">
	<link href="http://static.yc78.com/css/style.css" rel="stylesheet">
	<link href="http://static.yc78.com/css/animate.css" rel="stylesheet">
	
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="http://static.yc78.com/css/magnific-popup.css">
	
	<script src="http://static.yc78.com/js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
	<script src="http://static.yc78.com/js/PIE_IE9.js"></script>
	<script src="http://static.yc78.com/js/PIE_IE678.js"></script>
	
	<!--[if lt IE 9]>
		<script src="http://static.yc78.com/js/html5shiv.js"></script>
	<![endif]-->
	<!-- Matomo -->
	<script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//count.yc78.com/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
	</script>
	<!-- End Matomo Code -->

</head>

<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
	<!-- FullScreen -->
    <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
			<h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">应用DIY框架</h1>
			<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">给你不一样的感觉，QQ群:192683675</h3>
			<ul class="list-inline intro-social-buttons">
				<li><a href="http://github.com/394379/AppDiyFramework" target="_blank" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">GITHUB下载</span></a>
				</li>
				<li id="doc" ><a href="#" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">文档</span></a>
				</li>
			</ul>
		</div>    
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down "> 
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <img class="img_scroll" src="http://static.yc78.com/img/icon/circle.png" alt=""> </a>
			</div>
		</div>
    </div>
	
	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home">{$siteName|default="网站标题"}</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse navbar-static-top">
				<ul class="nav navbar-nav">
					<li class="menuItem"><a href="#whatis">介绍</a></li>
					<!--<li class="menuItem"><a href="#useit">演示</a></li>-->
					<!--<li class="menuItem"><a href="#downloadlink">下载</a></li>-->
					<!--<li class="menuItem"><a href="#screen">截图</a></li>-->
					<li class="menuItem"><a href="#contact">联系我们</a></li>
				</ul>
			</div>
		   
		</div>
	</nav> 
	<!-- What is -->
	<div id="whatis" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>功能与特色</h2>
				<p class="lead" style="margin-top:0">让你感觉不一样的风格</p>
				
			</div>
			
			<div class="row">
			
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img class="rotate" src="http://static.yc78.com/img/icon/tweet.svg" alt="Generic placeholder image">
				  <h3>基础功能</h3>
				  <p class="lead">基础框架包含权限管理、插件管理、模板管理，功能完善。</p>
				</div><!-- /.col-lg-4 -->
				
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="http://static.yc78.com/img/icon/picture.svg" alt="Generic placeholder image">
				   <h3>应用插件化</h3>
				   <p class="lead">我们把大把的时间留给用户的需求分析与应用制作。</p>
				</div><!-- /.col-lg-4 -->
				
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="http://static.yc78.com/img/icon/retina.svg" alt="Generic placeholder image">
				   <h3>应用市场</h3>
					<p class="lead">在基础功能里可以直接从市场安装全新的应用，以满足你的更多想法。 </p>
				</div><!-- /.col-lg-4 -->
				
			</div><!-- /.row -->
				
			<div class="row tworow">
			
				<div class="col-sm-4  wow fadeInDown text-center">
				  <img class="rotate" src="http://static.yc78.com/img/icon/laptop.svg" alt="Generic placeholder image">
				  <h3>简单</h3>
				  <p class="lead">市场有丰富的模板以供下载使用，实现您的个站，只需简单的几步。</p>
				</div><!-- /.col-lg-4 -->
				
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="http://static.yc78.com/img/icon/map.svg" alt="Generic placeholder image">
				   <h3>高效</h3>
				   <p class="lead">我们众多的应用供您选择，更多的应用模板供您选择，让您在花更多的时间去运作。 </p>
				</div><!-- /.col-lg-4 -->
				
				<div class="col-sm-4 wow fadeInDown text-center">
				  <img  class="rotate" src="http://static.yc78.com/img/icon/browser.svg" alt="Generic placeholder image">
				   <h3>经济</h3>
				 <p class="lead">应用市场部份是免费的，收费应用也不高。 </p>
				</div><!-- /.col-lg-4 -->
				
			</div><!-- /.row -->
		</div>
	</div>
	


	<div  class="content-section-c ">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center white">
					<h2>实时更新</h2>
					<p class="lead" style="margin-top:0">感谢有你.</p>
				</div>
				<div class="col-md-6 col-md-offset-3 text-center">
					<div class="mockup-content">
						<div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
							<button type="button "><span>订阅我们的电子报</span></button>
							<div class="morph-content">
								<div>
									<div class="content-style-form content-style-form-4 ">
										<h2 class="morph-clone">订阅我们的电子报</h2>
										<form>
											<p><label>您的邮件地址</label><input type="text"/></p>
											<p><button>立即订阅</button></p>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>>
		</div>
	</div>




	
	<!-- Contact -->
	<div id="contact" class="content-section-a">
		<div class="container">
			<div class="row">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>联系我们</h2>
				<label class="lead" style="margin-top:0">特别感谢</label>
			</div>

			<form id="guessInfo">
				<div class="col-md-12">
					<div class="form-group">
						<label>你的名字</label>
						<div class="input-group">
							<input type="text" class="form-control" name="name" placeholder="Enter Name" required>
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>

					<div class="form-group">
						<label>你的邮件</label>
						<div class="input-group">
							<input type="email" class="form-control"name="email" placeholder="Enter Email" required  >
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>

					<div class="form-group">
						<label>信息</label>
						<div class="input-group">
							<textarea name="content" class="form-control" rows="5" required></textarea>
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>

					<label class="text-success" id="res"></label><input type="button" name="submit" id="submit" value="提交" class="btn wow tada btn-embossed btn-primary pull-right">
				</div>
			</form>
			<hr class="featurette-divider hidden-lg">

			</div>
		</div>
	</div>

	
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <label class="footer">Copyright © {$years|default="2018"}.{$company|default="公司名称"} All rights reserved.{$beian_code},QQ群:192683675</label>
          </div> <!-- /col-xs-7 -->
        </div>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="http://static.yc78.com/js/jquery-1.10.2.js"></script>
	<script>
        $('#submit').on('click',function () {
            $.get("{:url('guest/index/index')}",$('#guessInfo').serialize(),function (data) {
                if(data.status ==1){
                    $('#res').text(data.message)
                    window.location="/";
                }else{
                    $('#res').text(data.message)
                    window.location="/";
                }
            })
        })
	</script>
    <script src="http://static.yc78.com/js/bootstrap.js"></script>
	<script src="http://static.yc78.com/js/owl.carousel.js"></script>
	<script src="http://static.yc78.com/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="http://static.yc78.com/js/stickUp.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();
		  
		});
	  });
	
	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="http://static.yc78.com/js/jquery.corner.js"></script>
	<script src="http://static.yc78.com/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="http://static.yc78.com/js/classie.js"></script>
	<script src="http://static.yc78.com/js/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="http://static.yc78.com/js/jquery.magnific-popup.js"></script>

</body>

</html>
