<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <name>cms</name>
   <description>内容管理插件</description>
   <version>0.1.180525</version>
   <appkey>C180C718-7778-3F43-10F1-B26D1661F06F</appkey>
   <dbscript>
      <install>DROP TABLE IF EXISTS `yc_cms_article`;&#13;
CREATE TABLE `yc_cms_article` (`id` int(11) NOT NULL AUTO_INCREMENT COMMENT '文章ID',`title` varchar(255) NOT NULL COMMENT '文章标题',`title_img` varchar(200) NOT NULL COMMENT '文章图片',`is_top` int(4) NOT NULL COMMENT '置顶1是0否',`cate_id` int(8) NOT NULL COMMENT '栏目ID',`user_id` int(8) NOT NULL COMMENT '用户ID',`content` text NOT NULL COMMENT '文章内容',`pv` int(11) NOT NULL COMMENT '阅读量',`status` int(4) NOT NULL COMMENT '状态1显0隐',`create_time` int(11) NOT NULL COMMENT '创建时间',`update_time` int(11) NOT NULL COMMENT '更新时间',PRIMARY KEY (`id`)) ENGINE=MyISAM DEFAULT CHARSET=utf8 COMMENT='文章表';&#13;
DROP TABLE IF EXISTS `yc_cms_category`;&#13;
CREATE TABLE `yc_cms_category` (`id` int(11) NOT NULL AUTO_INCREMENT COMMENT '栏目ID',`name` varchar(100) NOT NULL COMMENT '栏目名称',`tpl` varchar(50) NOT NULL COMMENT '栏目模板',`sort` int(11) NOT NULL COMMENT '栏目排序',`status` int(11) NOT NULL DEFAULT '1' COMMENT '状态1显0隐',`create_time` int(11) NOT NULL COMMENT '创建时间',PRIMARY KEY (`id`)) ENGINE=MyISAM DEFAULT CHARSET=utf8 COMMENT='栏目表';&#13;
DROP TABLE IF EXISTS `yc_cms_comments`;&#13;
CREATE TABLE `yc_cms_comments` (`id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id',`user_id` int(11) NOT NULL COMMENT '用户ID',`article_id` int(11) NOT NULL COMMENT '文章ID',`content` text NOT NULL COMMENT '评论内容',`reply_id` int(11) NOT NULL COMMENT '回复ID',`status` int(11) NOT NULL COMMENT '状态1显0隐',`create_time` int(11) NOT NULL COMMENT '创建时间',`update_time` int(11) NOT NULL COMMENT '更新时间',PRIMARY KEY (`id`)) ENGINE=MyISAM DEFAULT CHARSET=utf8 COMMENT='评论表';&#13;
DROP TABLE IF EXISTS `yc_cms_fav`;&#13;
CREATE TABLE `yc_cms_fav` (`id` int(11) NOT NULL AUTO_INCREMENT COMMENT 'id',`user_id` int(11) NOT NULL COMMENT '用户ID',`article_id` int(11) NOT NULL COMMENT '文章ID',PRIMARY KEY (`id`)) ENGINE=MyISAM DEFAULT CHARSET=utf8 COMMENT='用户收藏';&#13;
DROP TABLE IF EXISTS `yc_cms_like`;&#13;
CREATE TABLE `yc_cms_like` (`id` int(11) NOT NULL AUTO_INCREMENT COMMENT '点赞ID',`user_id` int(11) NOT NULL COMMENT '用户ID',`article_id` int(11) NOT NULL COMMENT '文章ID',PRIMARY KEY (`id`)) ENGINE=MyISAM DEFAULT CHARSET=utf8 COMMENT='用户点赞表';&#13;
INSERT INTO `yc_auth_rule` (`icon`, `title`, `href`, `type`, `status`, `condition`, `pid`, `sort`, `create_time`, `update_time`) VALUES('',	'内容删除',	'cms/cms/articledel',	1,	1,	NULL,	0,	54,	1526717591,	1526809014),('',	'内容修改',	'cms/cms/articleedit',	1,	1,	NULL,	0,	53,	1526717435,	1526809007),('',	'内容添加',	'cms/cms/articleadd',	1,	1,	NULL,	0,	52,	1526717391,	1526809000),('',	'内容列表',	'cms/cms/cmslist',	1,	1,	NULL,	0,	51,	1526717347,	1526865514),('glyphicon glyphicon-book',	'内容管理',	'cms',	1,	1,	NULL,	0,	50,	1526717298,	1527057397),('',	'栏目列表',	'cms/cms/categoryList',	1,	1,	NULL,	0,	55,	1526719947,	1526719947),('',	'栏目添加',	'cms/cms/categoryadd',	1,	1,	NULL,	0,	55,	1526720021,	1526720037),('',	'栏目修改',	'cms/cms/categoryedit',	1,	1,	NULL,	0,	55,	1526720106,	1526720106),('',	'栏目删除',	'cms/cms/categorydel',	1,	1,	NULL,	0,	50,	1526720138,	1526720138);&#13;
SET SQL_SAFE_UPDATES =0;&#13;
update yc_auth_rule set pid =(select id from (select id from yc_auth_rule WHERE href = 'cms')as t) WHERE href ='cms/cms/cmslist';&#13;
update yc_auth_rule set pid =(select id from (select id from yc_auth_rule WHERE href = 'cms')as t) WHERE href ='cms/cms/categoryList';&#13;
update yc_auth_rule set pid =(select id from (select id from yc_auth_rule WHERE href = 'cms/cms/cmslist')as t) WHERE href like 'cms/cms/articleadd';&#13;
update yc_auth_rule set pid =(select id from (select id from yc_auth_rule WHERE href = 'cms/cms/cmslist')as t) WHERE href like 'cms/cms/articleedit';&#13;
update yc_auth_rule set pid =(select id from (select id from yc_auth_rule WHERE href = 'cms/cms/cmslist')as t) WHERE href like 'cms/cms/articledel';&#13;
update yc_auth_rule set pid =(select id from (select id from yc_auth_rule WHERE href = 'cms/cms/categoryList')as t) WHERE href like 'cms/cms/categoryadd';&#13;
update yc_auth_rule set pid =(select id from (select id from yc_auth_rule WHERE href = 'cms/cms/categoryList')as t) WHERE href like 'cms/cms/categoryedit';&#13;
update yc_auth_rule set pid =(select id from (select id from yc_auth_rule WHERE href = 'cms/cms/categoryList')as t) WHERE href like 'cms/cms/categorydel';&#13;
SET SQL_SAFE_UPDATES =1;</install>
      <update>update</update>
      <uninstall>DROP TABLE IF EXISTS `yc_cms_article`;&#13;
DROP TABLE IF EXISTS `yc_cms_category`;&#13;
DROP TABLE IF EXISTS `yc_cms_comments`;&#13;
DROP TABLE IF EXISTS `yc_cms_fav`;&#13;
DROP TABLE IF EXISTS `yc_cms_like`;&#13;
DELETE FROM `yc_auth_rule` WHERE href like 'cms%';&#13;
</uninstall>
   </dbscript>
</plugin>
