<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <name>demo</name>
   <description>the demo plugin</description>
   <version>0.0.2</version>
   <appkey>67a714bb-508c-42ef-a6b5-65abb8b804b3</appkey>
   <dbscript>
      <install>CREATE TABLE `yc_demo` (`id` int(11) NOT NULL AUTO_INCREMENT,`title` varchar(100) DEFAULT NULL COMMENT '演示字段',`demo` text COMMENT '演示字段',PRIMARY KEY (`id`)) ENGINE=MyISAM DEFAULT CHARSET=utf8 COMMENT='演示表';&#13;
INSERT INTO `yc_demo` (`id`, `title`, `demo`) VALUES(1,	'演示插件的标题1',	'演示插件的内容\r\n演示插件的内容\r\n演示插件的内容\r\n演示插件的内容\r\n演示插件的内容\r\n演示插件的内容\r\n演示插件的内容\r\n演示插件的内容\r\n演示插件的内容\r\n演示插件的内容\r\n演示插件的内容\r\n演示插件的内容'),(2,	'演示插件的标题2',	'演示插件的内容\r\n演示插件的内容\r\n演示插件的内容\r\n演示插件的内容\r\n演示插件的内容\r\n演示插件的内容\r\n演示插件的内容\r\n演示插件的内容\r\n演示插件的内容\r\n演示插件的内容\r\n演示插件的内容\r\n演示插件的内容');&#13;
INSERT INTO `yc_auth_rule` (`icon`, `title`, `href`, `type`, `status`, `condition`, `pid`, `sort`, `create_time`, `update_time`) VALUES('glyphicon glyphicon-cog',	'演示管理',	'demo',	1,	1,	NULL,	0,	0,	NULL,	NULL);&#13;
INSERT INTO `yc_auth_rule` (`icon`, `title`, `href`, `type`, `status`, `condition`, `pid`, `sort`, `create_time`, `update_time`) VALUES('',	'演示列表',	'demo/list',	1,	1,	NULL,	0,	0,	NULL,	NULL);&#13;
SET SQL_SAFE_UPDATES =0;&#13;
update yc_auth_rule set pid =(select id from (select id from yc_auth_rule WHERE href = 'demo')as t) WHERE href like 'demo/%';&#13;
SET SQL_SAFE_UPDATES =1;</install>
      <update>ALTER TABLE `yc_demo` ADD `title` varchar(100) NULL COMMENT '演示字段' AFTER `id`;</update>
      <uninstall>DROP TABLE IF EXISTS `yc_demo`;DELETE FROM `yc_auth_rule` WHERE href like 'demo%';</uninstall>
   </dbscript>
</plugin>
