{extend name="../../common/view/public/base" /}
{block name="body"}
<div id="page-wrapper">
  <div class="header">
                    <h1 class="page-header">
                        用户列表
                    </h1>
        <ol class="breadcrumb">
        <li><a href="{:url('index/index')}">Home</a></li>
        <li><a href="{:url('auth/userList')}">用户管理</a></li>
        <li class="active">用户添加</li>
      </ol>

</div>
<div id="page-inner">

    <form class="form-horizontal" action="{:url('auth/userAdd')}" method="post">

        <div class="form-group">
            <label class="col-sm-2 control-label">真实姓名</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="real_name"  placeholder="真实姓名">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">邮件地址</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="email"  placeholder="邮件地址">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">密码</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="password"  placeholder="密码">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">用户组</label>
            <div class="col-sm-6">
                <select class="form-control" name="group_id">
                    {volist name="groupInfo" id="vo"}
                    <option value="{$vo.id}">{$vo.title}</option>
                    {/volist}
                </select>
            </div>
        </div>



        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">保存</button>
                <button type="button" class="btn btn-danger" onclick="window.history.back()">返回</button>
            </div>
        </div>
    </form>

{/block}
