{extend name="../../common/view/public/base" /}
{block name="body"}
<div id="page-wrapper">
  <div class="header">
                    <h1 class="page-header">
                        用户组
                    </h1>
        <ol class="breadcrumb">
        <li><a href="{:url('index/index')}">Home</a></li>
        <li><a href="{:url('auth/usergroup')}">权限管理</a></li>
        <li class="active">用户组</li>
      </ol>

</div>
<div id="page-inner">
  <a href="groupAdd.html" class="btn btn-default" role="button">添加组</a>
    <table class="table table-hover text-center" style="background-color: #FFFFFF">
   <tr style="background-color:#3E3E3E">
     <td style="color:#FFFFFF">编号</td>
     <td style="color:#FFFFFF">组名</td>
     <td style="color:#FFFFFF">添时间</td>
     <td style="color:#FFFFFF">状态</td>
     <td style="color:#FFFFFF">操作</td>
   </tr>
   {volist name="groupInfo" id="vo"}
   <tr>
     <td>{$vo.id}</td>
     <td>{$vo.title}</td>
     <td>{$vo.create_time}</td>
     <td>
       <input type="checkbox" disabled {eq name="$vo.status" value="1"}checked{/eq}>
     </td>
     <td>
       <a class="btn btn-warning" href="{:url('auth/groupConfigRule',['id'=>$vo.id])}">配置规则</a>
       <a class="btn btn-info" href="{:url('auth/groupedit',['id'=>$vo.id])}">编辑</a>
       <a class="btn btn-danger" href="{:url('auth/groupDel',['id'=>$vo.id])}" onclick="return del()">删除</a>
     </td>
   </tr>
   {/volist}
  </table>
    <script>
        function del(){
            if(confirm('你确定要删除码?')){
                return true;
            }
            else
            {
                return false;
            }
        }
    </script>
{/block}
