{extend name="../../common/view/public/base" /}
{block name="body"}
<div id="page-wrapper">
  <div class="header">
                    <h1 class="page-header">
                        用户列表
                    </h1>
        <ol class="breadcrumb">
        <li><a href="{:url('index/index')}">Home</a></li>
        <li><a href="{:url('auth/userlist')}">权限管理</a></li>
        <li class="active">用户列表</li>
      </ol>

</div>
<div id="page-inner">
  <a href="{:url('auth/userAdd')}" class="btn btn-default" role="button">添加用户</a>
  <table class="table table-hover text-center" style="background-color: #FFFFFF">
   <tr style="background-color:#3E3E3E">
     <td><input type="checkbox"></td>
     <td style="color:#FFFFFF">用户名</td>
     <td style="color:#FFFFFF">邮箱</td>
     <td style="color:#FFFFFF">用户组</td>
     <td style="color:#FFFFFF">状态</td>
     <td style="color:#FFFFFF">操作</td>
   </tr>
   {volist name="userInfo" id="vo"}
   <tr>
     <td><input type="checkbox"></td>
     <td>{$vo.real_name}</td>
     <td>{$vo.email}</td>
     <td>{$vo.group_id|getAuthGroupName}</td>
     <td>
        <input type="checkbox" disabled {eq name="$vo.status" value="1"}checked{/eq}>
      </td>
     <td>
       <a class="btn btn-info" href="{:url('auth/useredit',['id'=>$vo.id])}">编辑</a>
       <a class="btn btn-danger" {eq name="$vo.id" value="$Think.session.user_id"}disabled{/eq}" href="{:url('auth/userDel',['id'=>$vo.id])}">删除</a>
     </td>
   </tr>
   {/volist}
      <tr>
          <td colspan="6">{$userInfo|raw}</td>
      </tr>
  </table>
{/block}
