{extend name="Public/base" /}
{block name="body"}
<div class="page-header">
    <h1>  <small> </small></h1>
</div>
<div  class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">栏目列表</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-pills">
                        {volist name="categoryInfo" id="vo_cate"  empty="暂时没有数据"}
                        <li role="presentation"><a href="/cms/index/categoryList?tpl={$_GET['tpl']}&id={$vo_cate.id}">{$vo_cate.name}</a></li>
                        {/volist}
                    </ul>
                </div>
            </div>

            <div class="panel panel-default lasest-update">
                <!-- S 最近更新 -->
                <div class="panel-heading">
                    <h3 class="panel-title">热门文章</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        {volist name="articleHotList" id="vo_hot"  empty="暂时没有数据"}
                        <li>
                            <span>[<a href="/cms/index/categoryList?tpl={$vo_hot.cate_id|getCategoryTpl}&id={$vo_hot.cate_id}">{$vo_hot.cate_id|getCategoryName}</a>]</span>
                            <a class="link-dark" href="/cms/index/{$vo_hot.cate_id|getCategoryTpl}Detail?tpl={$vo_hot.cate_id|getCategoryTpl}&id={$vo_hot.id}" title="{$vo_hot.title}">{$vo_hot.title}</a>
                        </li>
                        {/volist}
                    </ul>
                </div>
                <!-- E 最近更新 -->
            </div>

            <div class="panel panel-default lasest-update">
                <!-- S 最近更新 -->
                <div class="panel-heading">
                    <h3 class="panel-title">最近更新</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        {volist name="articleNewList" id="vo_new"  empty="暂时没有数据"}
                        <li>
                            <span>[<a href="/cms/index/categoryList?tpl={$vo_new.cate_id|getCategoryTpl}&id={$vo_new.cate_id}">{$vo_new.cate_id|getCategoryName}</a>]</span>
                            <a class="link-dark" href="/cms/index/{$vo_new.cate_id|getCategoryTpl}Detail?tpl={$vo_new.cate_id|getCategoryTpl}&id={$vo_new.id}" title="{$vo_new.title}">{$vo_new.title}</a>
                        </li>
                        {/volist}
                    </ul>
                </div>
                <!-- E 最近更新 -->
            </div>
        </div>
        <div class="col-xs-6 col-sm-8">
            <div class="article-list-main">
                <!-- S 首页列表 -->
                {volist name="articleTopList" id="vo_top"  empty="暂时没有数据"}
                {eq name="$vo_top.cate_id|getCategoryTpl" value="$_GET['tpl']"}
                <section class="article-section">
                    <article class="article-item">
                        <div class="article-metas clearfix">
                            <div class="pull-left">
                                <div class="date">
                                    <div class="day">{$vo_top.create_time|date='d'}</div>
                                    <div class="month">{$vo_top.create_time|date='m'}月</div>
                                </div>
                            </div>
                            <div class="metas-body">
                                <h3 class="title"><a href="/cms/index/{$vo_top.cate_id|getCategoryTpl}Detail?tpl={$vo_top.cate_id|getCategoryTpl}&id={$vo_top.id}">{$vo_top.title}</a></h3>
                                <p><a href="/cms/index/categoryList?tpl={$vo_top.cate_id|getCategoryTpl}&id={$vo_top.cate_id}">{$vo_top.cate_id|getCategoryName}</a></p>
                            </div>

                        </div>
                        <div class="media">
                            {eq name="$vo_top.cate_id|getCategoryTpl" value="article"}
                            <div class="media-left">
                                <a href="{:url('cms/index/articleDetail',['id'=>$vo_top.id])}">
                                </a><a href="{:url('cms/index/articleDetail',['id'=>$vo_top.id])}"><img src="/uploads/{$vo_top.title_img}" width="220px" height="121.19px" border=""></a>
                            </div>
                            {/eq}
                            {eq name="$vo_top.cate_id|getCategoryTpl" value="down"}
                            <div class="media-left">

                            </div>
                            {/eq}
                            {eq name="$vo_top.cate_id|getCategoryTpl" value="xiaoshuo"}
                            <div class="media-left">
                                <a href="{:url('cms/index/articleDetail',['id'=>$vo_top.id])}">
                                </a><a href="{:url('cms/index/articleDetail',['id'=>$vo_top.id])}"><img src="/uploads/{$vo_top.title_img}" width="220px" height="121.19px" border=""></a>
                            </div>
                            {/eq}
                            <div class="media-body">
                            {$vo_top.content|getArticleContent}
                            </div>
                        </div>
                        <div class="article-tag">
                            <div class="pull-left">
                               此处可随便用
                            </div>
                            <div class="pull-right">
                                <div class="sns">
                                    <!--阅读量-->
                                    <span class="views-num" title="阅读量"><i class="fa fa-eye fa-lg"></i>{$vo_top.pv}</span>
                                    <!--点赞-->
                                    <span class="like-num" title="点赞"><i class="fa fa-thumbs-o-up fa-lg"></i><span class="js-like-num">{$vo_top.id|getArticleLike}</span></span>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </article>
                </section>
                {/eq}
                {/volist}
                <!-- E 首页列表 -->
            </div>
        </div>
    </div>
</div>
{/block}