{extend name="../../common/view/Public/base" /}
{block name="body"}
<div id="page-wrapper">
<div class="header">
    <h1 class="page-header">
        内容管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="{:url('admin/index/index')}">Home</a></li>
        <li><a href="{:url('cms/cms/articleList')}">内容列表</a></li>
        <li class="active">内容添加</li>
    </ol>
</div>
<div id="page-inner">
    <form action="{:url('cms/cms/downAdd')}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>内容标题</label>
            <input type="text" name="title" width="500" class="form-control" placeholder="内容标题">
        </div>
        <div class="form-group">
            <label>内容栏目</label>
            <select name="cate_id" class="form-control">
            <option value="">=>请选择栏目</option>
            {volist name="cateInfo" id="vo"}
            <option value="{$vo.id}" {eq name="$vo.id" value="$_GET['cate_id']"}selected{/eq}>{$vo.name}</option>
            {/volist}
            </select>
        </div>
        <div class="form-group">
            <label>上传文件</label>
            <input type="file" name="title_img" width="500" class="form-control" placeholder="内容图片">
        </div>
        <div class="form-group">
            <label>内容介绍</label>
            <textarea id="editor_id" name="content"  cols="30" rows="10" class="form-control" placeholder="内容内容"></textarea>
        </div>
        <input type="hidden" name="user_id" value="{$Think.session.user_id}">
        <button type="submit" class="btn btn-default">保存</button>
    </form>

    <script charset="utf-8" src="/static/kindeditor/kindeditor-all-min.js"></script>
    <script charset="utf-8" src="/static/kindeditor/lang/zh-CN.js"></script>
    <script>
        KindEditor.ready(function(K) {
            window.editor = K.create('#editor_id');
        });
    </script>
{/block}
